<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div id="poker">

        <div v-if="ui != null && ui.table != null">

            <div class="table seats-6">

                <div class="betting-line">

                    <div v-for="(seat, index) in ui.table.seats" class="seat" :class="[ 'seat-'+seat.index, { 'action-on': ui.table.betTracker.seatIndex == index }]">
                        <div class="name"><span v-if="seat != null && seat.player != null">{{ seat.player.name }}</span></div>
                        <div class="avatar">
                            <div class="action-container">
                                <div class="action" v-if="ui.seatAction.has(index)">{{ ui.seatAction.get(index) }}</div>
                            </div>
                        </div>
                        <div class="chips"><span v-if="seat != null && seat.player != null">{{ ui.chipFormatter.format(seat.player.chips) }}</span></div>
                        <div class="cards">
                            <div v-if="seat.hand">
                                <div v-for="dealtCard in seat.hand.cards" class="card card-small-2" :class="getCardClass(dealtCard)">
                                    <div v-if="dealtCard != null && dealtCard.isFaceUp" class="symbols left">
                                        <div class="value">{{ dealtCard.card.value.symbol }}</div>
                                        <div class="suit">{{ dealtCard.card.suit.symbol }}</div>
                                    </div>
                                    <div v-if="dealtCard != null && dealtCard.isFaceUp" class="symbols right">
                                        <div class="value">{{ dealtCard.card.value.symbol }}</div>
                                        <div class="suit">{{ dealtCard.card.suit.symbol }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pots">

                        <div v-for="(pot, index) in ui.table.betTracker.pots" class="pot" :class="'pot-' + pot.index">
                            <div class="name">{{ pot.getName() }}</div>
                            <div class="chips">{{ ui.chipFormatter.format(pot.amount) }}</div>
                        </div>

                    </div>

                    <div v-for="(betAmount, seatIndex) in ui.table.betTracker.bets" class="chips-stage" :class="'seat-'+seatIndex">
                        <div>Seat {{ seatIndex }}</div>
                        <div>Bet: {{ ui.chipFormatter.format(betAmount) }}</div>
                    </div>

                    <div v-for="(seat, seatIndex) in ui.table.seats" class="button" :class="'seat-'+seatIndex" v-if="ui.table.buttonIndex === seatIndex">
                        <div class="text">button</div>
                    </div>

                    <div v-if="false" class="board">
                        <div class="card-small">
                            <div class="value club">A</div>
                            <div class="suit club">&clubs;</div>
                        </div>
                        <div class="card-small">
                            <div class="value spade">10</div>
                            <div class="suit spade">&spades;</div>
                        </div>
                        <div class="card-small">
                            <div class="value heart">K</div>
                            <div class="suit heart">&hearts;</div>
                        </div>
                        <div class="card-small">
                            <div class="value diamond">Q</div>
                            <div class="suit diamond">&diams;</div>
                        </div>
                        <div class="card-small">
                            <div class="value diamond">2</div>
                            <div class="suit diamond">&diams;</div>
                        </div>
                    </div>

                </div>


            </div><!-- table seats-6 -->

        </div>
        <div v-else>
            We have no table yet.
        </div>

    </div>


</body>
</html>