<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div id="poker">

        <div v-if="ui != null && ui.table != null">

            <div class="table seats-6">

                <div class="betting-line">

                    <div v-for="(seat, index) in ui.table.seats" class="seat" :class="'seat-'+seat.index">
                        <div class="name"><span v-if="seat != null && seat.player != null">{{ seat.player.name }}</span></div>
                        <div class="avatar">&nbsp;</div>
                        <div class="chips"><span v-if="seat != null && seat.player != null">{{ ui.chipFormatter.format(seat.player.chips) }}</span></div>
                    </div>

                    <div class="pots">

                        <div v-for="(pot, index) in ui.table.betTracker.pots" class="pot" :class="'pot-' + pot.index">
                            <div class="name">{{ pot.getName() }}</div>
                            <div class="chips">{{ ui.chipFormatter.format(pot.amount) }}</div>
                        </div>

                    </div>

                    <div class="board">
                        <div class="card-small">
                            <div class="value club">A</div>
                            <div class="suit club">&clubs;</div>
                        </div>
                        <div class="card-small">
                            <div class="value spade">10</div>
                            <div class="suit spade">&spades;</div>
                        </div>
                        <div class="card-small">
                            <div class="value heart">K</div>
                            <div class="suit heart">&hearts;</div>
                        </div>
                        <div class="card-small">
                            <div class="value diamond">Q</div>
                            <div class="suit diamond">&diams;</div>
                        </div>
                        <div class="card-small">
                            <div class="value diamond">2</div>
                            <div class="suit diamond">&diams;</div>
                        </div>
                    </div>

                </div>


            </div><!-- table seats-6 -->

        </div>
        <div v-else>
            We have no table yet.
        </div>

    </div>


</body>
</html>