<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div id="poker">

        <div v-if="ui != null && ui.table != null">

            <div class="table seats-6">

                <div v-for="(seat, index) in ui.table.seats" class="seat" :class="'seat-'+seat.index">
                    <table>
                        <tbody v-if="seat != null && seat.player != null">
                            <tr><td class="name">{{ seat.player.name }}</td></tr>
                            <tr><td class="chips">{{ ui.chipFormatter.format(seat.player.chips) }}</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="board">
                    <div class="card-small">
                        <div class="value club">A</div>
                        <div class="suit club">&clubs;</div>
                    </div>
                    <div class="card-small">
                        <div class="value spade">10</div>
                        <div class="suit spade">&spades;</div>
                    </div>
                    <div class="card-small">
                        <div class="value heart">K</div>
                        <div class="suit heart">&hearts;</div>
                    </div>
                    <div class="card-small">
                        <div class="value diamond">Q</div>
                        <div class="suit diamond">&diams;</div>
                    </div>
                    <div class="card-small">
                        <div class="value diamond">2</div>
                        <div class="suit diamond">&diams;</div>
                    </div>
                </div>

            </div>

        </div>
        <div v-else>
            We have no table yet.
        </div>

    </div>


</body>
</html>