body {

    .table.seats-6 {

        .seat {

            &.seat-0 {
                top: 400px;
                left: -60px;

                .dealer-holding {
                    top: -60px;
                    left: 420px;
                }
            }

            &.seat-1 {
                top: 90px;
                left: -260px;

                .dealer-holding {
                    top: 250px;
                    left: 620px;
                }
            }

            &.seat-2 {
                top: -220px;
                left: -60px;

                .dealer-holding {
                    top: 560px;
                    left: 420px;
                }
            }

            &.seat-3 {
                top: -220px;
                left: 600px;
            }

            &.seat-4 {
                top: 90px;
                left: 740px;
            }

            &.seat-5 {
                top: 390px;
                left: 580px;
            }
        }

        .chips-stage {

            &.gathering {
                top: 200px;
                left: 300px;
            }

            &.seat-0 {
                top: 350px;
                left: 160px;
            }

            &.seat-1 {
                top: 200px;
                left: 20px;
            }

            &.seat-2 {
                top: 40px;
                left: 140px;
            }

            &.seat-3 {
                top: 20px;
                left: 500px;
            }

            &.seat-4 {
                top: 160px;
                left: 630px;
            }

            &.seat-5 {
                top: 310px;
                left: 500px;
            }
        }

        .button {


            &.seat-0 {
                top: 385px;
                left: 160px;
                transform: rotate(15deg);
            }

            &.seat-1 {
                top: 220px;
                left: -45px;
                transform: rotate(-45deg);
            }

            &.seat-2 {
                top: 22px;
                left: 75px;
                transform: rotate(30deg);
            }

            &.seat-3 {
                top: 40px;
                left: 620px;
                transform: rotate(60deg);
            }

            &.seat-4 {
                top: 240px;
                left: 695px;
                transform: rotate(-20deg);
            }

            &.seat-5 {
                top: 380px;
                left: 530px;
                transform: rotate(50deg);
            }
        }

        .dealer-box {
            top: 480px;
            left: 235px;
        }
    }
}
