.board {
    position: absolute;
    top: 250px;
    left: 175px;
    width: 350px;
    height: 100px;
    padding: 3px;
    box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 0.1);

    &.showdown {

        .card {

            &.used {
                margin-top: -5px;
                transition: margin-top 0.25s;
            }

            &:not(.used) {
                opacity: 0.6;
                transition: opacity 0.25s;

                .card-inner {
                    background-color: #999;
                    transition: background-color 0.25s;
                }
            }
        }

    }

}
