.timer {

    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0;
    background: white;
    width: 150px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid black;


    .mercury
    {
        height: 100%;
        background-color: green;

    }

    &.danger
    {
        .mercury
        {
            background-color: #b00;
        }
    }

}
