.betting-menu {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 5px;
    overflow-y: auto;
    position: absolute;
    top: 220px;
    width: 300px;
    height: 100px;

    .bet-actions {
        width: 100%;

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .raise-dialog {
        .min-raise,
        .max-raise {
            vertical-align: bottom;
        }

        .min-raise {
            margin-right: 10px;
        }

        .max-raise {
            margin-left: 10px;
        }

        .chips-slider {
            vertical-align: middle;
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
