.betting-menu {

    border: none;
    background-color: transparent;
    padding: 5px;
    overflow-y: auto;
    position: absolute;

    top: 620px;

    width: 300px;
    height: 200px;

    .bet-actions {
        width: 100%;

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            /* justify-content: space-around;  */
        }
    }

    .raise-dialog {

        button
        {
            width: 100%;
            height: 100%;
        }

        .slider
        {
        }

        .min-raise,
        .max-raise {
            vertical-align: bottom;
        }

        .min-raise {
            margin-right: 10px;
        }

        .max-raise {
            margin-left: 10px;
        }

        .chips-slider {
            vertical-align: middle;
            -webkit-appearance: slider-vertical;
            writing-mode: bt-lr;
        }

    }

}
