button.bet-button {

    width: 80px;
    height: 3em;
    font-weight: bold;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;

    .light
    {
        background-color: #ddd;
        height: 100%;
        width: 3px;
        border: 1px solid black;
        margin-right: 3px;

        &.disabled
        {
            border-color: #ddd;
        }

        &.activated 
        {
            background-color: #0f0;
        }
    }

    .text
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

}

