@import "../../../../styles/cards";

.action-log {
    border: 2px solid black;
    background: white;
    padding: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 300px;
    width: 360px;
    height: 200px;

    .message {

        .spade {
            @include spade;
        }

        .club {
            @include club;
        }

        .heart {
            @include heart;
        }

        .diamond {
            @include diamond;
        }

    }

}
