.action-log
{
    border: 2px solid black;
    background: white;
    padding: 5px;
    overflow-y: scroll;

    position: relative;
    margin-top: 10px;

    width: 500px;
    height: 200px;

    .message
    {

    }

}
