.cards {

    &.showdown {

        .card {

            &:not(.used) {
                margin-top: 8px;

                .card-inner {
                    background-color: #999;
                    transition: background-color 0.25s;
                }
            }
        }
    }

    .card.muck-fish {

        .card-inner {
            background-color: #999;
            transition: background-color 0.25s;
        }

    }

}
