.chips-stage {
    display: inline-block;
    color: black;
    font-weight: bold;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    padding: 0.25em 1.5em;
    background: tan;

    z-index: 2;

}
