@import "../../../styles/buttons";

.table-menu {

    border: 2px solid black;
    background-color: lightgrey;
    padding: 5px;
    overflow-y: auto;
    position: absolute;
    top: 100px;
    width: 300px;
    height: 100px;

    button + button {
        margin-left: 8px;
    }

    button {

        width: 100px;
        font-weight: bold;
        vertical-align: top;
        text-align: center;

        .action + .amount
        {
            margin-top: 4px;
        }

        &.stand-up
        {
            background-color: red;
            color: white;
        }

        &.buy-in
        {
            @include good-button;
        }

    }

    .add-chips-dialog
    {
        div
        {
            text-align: center;

            &.buy-amount
            {
                font-weight: bold;
            }

        }

    }

}
