.chips-stage {

    display: inline-block;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 10%;

    &.bet {
        padding: 0.25em 1.5em;
    }

    &.ante {
        padding: 0.25em 0.5em;
    }

    /* hide them at first and fade them in quickly */
    opacity: 0;
    z-index: 2;
    transition: opacity 0.25s;

    &.announced {
        opacity: 1;
    }

    &.gathering {
        transition: top 0.5s, left 0.5s;
    }

    .amount {
        margin-top: 2px;
    }

}
