.seat-colors {
    background: linear-gradient(15deg, #0f5cc6, #6799de);
    color: white;
    border-radius: 6%;
    border: 0.25em solid black;
}

.seat {

    @extend .seat-colors;
    position: absolute;
    padding: 3px;
    box-sizing: border-box;
    height: 240px;

    &.action-on {
        background: linear-gradient(45deg, lightgreen, lightyellow);
        color: black;
        transition: background-color 0.25s, color 0.25s;
    }

    &.all-in {
        background: linear-gradient(45deg, #c65c0f, #de9967);
        color: black;
        transition: background-color 0.25s, color 0.25s;
    }

    &.sitting-out {
        background: lightgrey;
        color: grey;

        .name {
            font-style: italic;
        }
    }

    .name {
        font-size: 1.2em;
    }

    .name, .chips {
        text-align: center;
        height: 1.5em;
        line-height: 1.5em;
        font-variant: small-caps;
    }

    .chips {
        &.all-in {
        }
    }

    .avatar {
        display: table;
        box-sizing: border-box;
        height: 100px;
        width: 200px;
        background: lightgrey;
        border: 2px solid black;

        .action-container {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            margin: 0;

            .action {
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                padding: 5px 12px;
                background: white;
                border: 2px solid black;
                color: black;
                text-transform: uppercase;
            }
        }
    }

    .cards {
        text-align: center;
        height: 4.2em;
        width: 200px;
        white-space: nowrap;
        padding-bottom: 5px;
        position: absolute;

        .card {
            vertical-align: top;
            margin-top: 0;
        }

        .card-small-2 + .card-small-2 {
            margin-left: -30px;
        }

        .sitting-out {
            height: 4.2em;
            line-height: 4.2em;
            text-transform: uppercase;
        }
    }

    &.showdown {

        .cards {

            .card {

                &:not(.used) {
                    margin-top: 8px;

                    .card-inner {
                        background-color: #999;
                        transition: background-color 0.25s;
                    }
                }
            }
        }
    }
}
