.cards {

    text-align: center;
    height: 4.2em;
    width: 200px;
    white-space: nowrap;
    padding-bottom: 5px;
    position: absolute;

    &.showdown {

        .card {

            &:not(.used) {
                .card-inner {
                    background-color: #999;
                    transition: background-color 0.25s;
                }
            }
        }
    }

    .card.muck-fish {

        .card-inner {
            background-color: #999;
            transition: background-color 0.25s;
        }
    }
}
